.useref {
    width: 450px;
    min-height: 560px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    padding: 0px 44px;
    padding-bottom: 30px;
}

.ur-header {
    
}