.ur-items {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.ur-items-container {
    display: flex;
}

.ur-items-text {
    padding-left: 16px;
    color: #404040;
}